@import './variables';

.back-top{
    position: fixed;
    top: 82%;
    right: 1%;
    font-size: 1.8rem;
    color: white;
    display: none;

    &-icon {
        padding: 1.2rem;
        border-radius: 50%;
        background-color: $main-color;
        color: white;
        cursor: pointer;
    }
}
