@import './variables';

.cart {
    margin-top: $header-height;
    background-color: #fdeaede8; //fff1f3
    padding-top: 2rem;

    &__title {
        font-size: 2rem;
        background-color: white;
        margin-bottom: 2rem;
        padding: 1.5rem 2rem;
        border-radius: 6px;

        span {
            font-size: 1.7rem;
            color: #000000c7;
        }
    }

    &__info {
        display: flex;

        &__product {
            width: 70%;

            &__heading {
                display: flex;
                font-size: 1.5rem;
                font-weight: 500;
                background-color: white;
                margin-bottom: 2rem;
                padding: 1.5rem 2rem;
                border-radius: 6px;

                &__product {
                    flex: 1;
                }

                &__quantity {
                    width: 20%;
                }

                &__price {
                    width: 20%;
                }

                &__delete {
                    width: 10%;
                }
            }

            &__item {
                display: flex;
                padding: 1.5rem 2rem;
                background-color: white;
                margin-bottom: 2rem;
                border-radius: 6px;

                &__group {
                    flex: 1;
                    display: flex;

                    img {
                        width: 13rem;
                        height: 13rem;
                        object-fit: cover;
                        object-position: top;
                    }

                    &__info {
                        padding-left: 1.5rem;

                        p {
                            font-size: 1.6rem;
                            padding-bottom: 2rem;
                        }

                        span {
                            font-size: 1.3rem;
                            color: #000000d1;
                        }
                    }
                }

                &__price {
                    font-size: 1.7rem;
                    font-weight: 500;
                }

                &__delete {

                    span {
                        font-size: 1.4rem;
                        color: red;
                        cursor: pointer;
                        width: fit-content;
                        position: relative;
                    }

                    &__notification {
                        position: absolute;
                        top: 30px;
                        right: -30px;
                        background-color: white;
                        width: 220px;
                        padding: 1rem 1rem 1.5rem;
                        cursor: default;
                        font-size: 1.4rem;
                        box-shadow: 0 3px 6px -4px #00000073, 
                                    0 6px 16px 0 #00000014,
                                    0 9px 28px 8px #0000000d;
                        border-radius: 5px;
                        color: black;
                        display: none;

                        &::after {
                            content: "";
                            border: 7px solid;
                            position: absolute;
                            top: -15px;
                            right: 34px;
                            cursor: default;
                            border-color: transparent transparent black transparent;
                        }
                        
                        p {
                            cursor: default;
                            text-align: center;
                            width: 100%;
                            padding-bottom: 2rem;
                            color: black;
                        }

                        &__group {
                            text-align: right;
                            font-size: 1.3rem;

                            span {
                                border: 1px solid #0000004d;
                                border-radius: 5px;
                                padding: 0.3rem 0.5rem 0.2rem 0.5rem;
                                color: black;

                                &:first-child{
                                    margin-right: 1rem;
                                }
                            }
                        }
                    }
                }
                
            }
        }

        &__totoalPrice {
            flex: 1;
            padding-left: 2rem;
            position: -webkit-sticky;
            position: sticky;
            top: calc(#{$header-height} + 1rem);
            height: 18rem;

            &__info {
                display: flex;
                margin-bottom: 2rem;
                background-color: white;
                border-radius: 6px;
                padding: 2rem;
                justify-content: space-between;

                p {
                    font-size: 1.6rem;
                    color: #000000c9;
                }

                &__group {
                    display: flex;
                    flex-direction: column;
                    text-align: right;

                    p {
                        font-size: 2.4rem;
                        font-weight: 500;
                        padding-bottom: 1.3rem;
                    }

                    span {
                        font-size: 1.4rem;
                        color: #000000b0;
                    }
                }
            }
        }
    }
}
.btn-size {
    padding: 0.2rem 1rem;
}
.btn-yes {
    background-color: #0c3891;
    color: white !important;
    border-color: #0c3891 !important;
}
.btn-yes:hover {
    background: #0C2B68;
    border-color: #0C2B68;
}
.btn-unDelete:hover {
    border-color: #009fff;
    color: #009fff;
}
.text-size {
    font-size: 1.7rem;
}
.btn-full {
    display: block;
}
.show-notification {
    display: block;
}