@import './variables';

@mixin flex ($align-item, $justify-content){
    display: flex;
    align-items: $align-item;
    justify-content: $justify-content;
}

.header {
    background-color: $main-bg;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    height: $header-height;
    display: flex;
    align-items: center;
    transition: height linear 0.2s;

    &__container {
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        font-size: 1.5rem;
        align-items: center;
    }
    
    &.shrink{
        box-shadow: $box-shadow;
        height: $header-shrink-height;
        z-index: 100;
    }
    &__logo {
        img {
            height: 2.8rem;
        }
    }

    &__menu {

        &-right {
            margin: 0 -3rem;
            display: flex;
            align-items: center;
            
            &>a {
                padding: 0 1rem;
                height: 4rem;
                margin-right: 3rem;
                transition: 0.3s;
                border: 1px solid black;
                border-color: transparent;

                &:last-child {
                    margin-right: 2rem
                }
                &:hover {
                    border: 1px solid $main-color;
                }
            }
            &--center {
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }

        &__icon-close, &__icon-open {
            display: none;
            font-size: 2rem;
            padding: 0.5rem 0.7rem;
            position: absolute;
            margin-right: 1rem;
            margin-top: 0.5rem;
        }

        &__icon-open {
            top: 1rem;
            left: 0;
        }
        
        &__icon-close {
            left: 12px;
            top: 10px;
            z-index: 399;
        }

        &__user {
            display: flex;
            align-items: center;
            cursor: pointer;
            position: relative;

            &__info {
                position: absolute;
                top: 26px;
                right: 0;
                box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
                background-color: #dff9f0;
                width: 100%;
                padding: 0.8rem 0 0 1rem;
                border-radius: 4px;
                display: none;

                a {
                    display: block;
                }

                &__title {
                    padding-bottom: 1rem;

                    &:hover {
                        color: #d54343;
                    }
                }
            }

            img {
                width: 2rem;
                height: 2rem;
                border-radius: 50%;
                margin-right: 1rem;
            }

            i {
                padding-left: 0.5rem;
                color: #878787;
                font-size: 1.3rem;
            }
        }
    }

    &.header__menu__icon-close {
        display: none;
    }

}
.nav {
    display: flex;
    margin: 0 -2rem;
    transition: 0.4s;

    &__icon {
        display: none;
    }

    &__item {
        padding: 0 2rem;
        font-weight: 500;

        a {
            position: relative;

            &::after {
                content: '';
                position: absolute;
                width: 0;
                height: 3px;
                background-color: $main-color;
                bottom: -7px;
                left: 0;
                animation: fadeInHeader ease 0.25s;
                display: none;
            }

            &:hover::after {
                width: 100%;
                display: block;
            }
        }
        
    }

    &__active {
        color: $main-color;
        
        &::before {
            content: '';
            position: absolute;
            width: 100%;
            height: 3px;
            background-color: $main-color;
            bottom: -7px;
            left: 0;
        }
    }
}

.header.playing .header__menu__icon-open {
    display: none;
}
.header.playing .header__menu__icon-close {
    display: block;
}
.modal-user--open {
    display: block;
}

@keyframes fadeInHeader {
    from {
        transform: scale(0.2);
    }
    to {
        transform: scale(1);
    }
}

@media only screen and (min-width: 1024px) and (max-width: 1299px){
    .header {
        &__container {
            width: 95%;
        }
    }
}

@media only screen and (min-width: 768px) and (max-width: 1023px){
    .header {
        height: $header-tablet-height;
        
        &__container {
            width: 95%;
        }
    }
}

@media only screen and (max-width: 767px){
    .nav {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        background-color: white;
        height: 100vh;
        width: 80%;
        flex-direction: column;
        padding: 6rem 1rem 0 2rem;
        font-size: 1.7rem;
        transform: translateX(-100%);
        box-shadow: 2px 0px 6px 0px #0000006b;
        z-index: 299;

        &__icon {
            display: block;
        }

        &__item {
            padding-right: 0;
            margin-bottom: 1rem;

            a {
                display: flex;
                padding: 1rem 0;
                border-radius: 4px;

                i {
                    padding-right: 1rem;
                    padding-left: 1rem;
                }

                &:hover::after {
                    display: none;
                }
            }
        }

        &__active {
            background-color: #F0F0F0;

            &::before {
                display: none;
            }
        }

        &-active {
            transform: translateX(0%);
        }
    }
    .header {
        height: $header-mobile-height;
        box-shadow: 0rem 0.8rem 2.4rem #959da533;

        &__container {
            width: 95%;
        }

        &.shrink {
            height: $header-mobile-height;
        }

        &__logo {
            img {
                height: 2rem;
                display: none;
            }
        }

        &__menu {
            &-right {
                margin: unset;
                &>a {
                    margin-right: 1rem;
                    padding: 0;

                    &:last-child {
                        margin-right: unset;
                    }
                }

                &--center {
                    font-size: 1.4rem;
                    margin-right: auto;
                    margin-left: 1rem;
                    width: 7.5rem;
                }
            }

            &__icon-open {
                display: block;
            }
        }
    }
    .cart__link {
        font-size: 2.4rem !important;

        &__notification {
            width: 1.5rem !important;
            height: 1.5rem !important;
            font-size: 1rem !important;
            top: 2px !important;
            right: -6px !important;
        }
    }
}

