@import './variables';

.home-slider {
    height: 100vh;
    overflow: hidden;
    margin-bottom: 5rem;
    position: relative;

    &__item {
        @include flex(center, space-between);

        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        position: absolute;
        inset: 0;

        &.active {
            opacity: 1;
            visibility: visible;
            pointer-events: visible;
        }

        &__info {
            width: 50%;

            &__title {
                margin-bottom: 6rem;
                font-family: 'M PLUS Rounded 1c', sans-serif;
                font-weight: 600;
                font-size: 4.5rem;
                line-height: 6.75rem;
                overflow: hidden;
                color: $main-color;
            }

            &__description {
                margin-bottom: 6rem;
                color: $txt-second-color;
                font-size: 1.5rem;
                line-height: 2.25rem;
                overflow: hidden;
                text-align: justify;
            }
        }

        &__img {
            height: 100%;

            img {
                height: 90%;
                position: absolute;
                bottom: 0;
                right: 0;
            }
            .shape {
                position: absolute;
                top: 50%;
                right: 0;
                width: 40rem;
                height: 40rem;
                border-radius: 58% 42% 38% 62% / 42% 55% 45% 58%;
                transform: translate(0, -50%);
                animation: borderAnimation 10s infinite;
                transition: border-radius 13s ease;
            }
        }
        
    }
    &__control {
        @include flex(center, center);
        position: absolute;
        left: 50%;
        bottom: 5rem;
        transform: translateX(-50%);

        &__item ~ &__item {
            margin-left: 1rem;
        }

        &__item {
            @include flex(center, center);
            font-size: 1.5rem;
            cursor: pointer;

            .index {
                font-size: 1.5rem;
                cursor: default;
            }
        }
        
    }
}

@keyframes borderAnimation {
    0% {
        border-radius: 58% 42% 38% 62% / 42% 55% 45% 58%;
    }
    50% {
        border-radius: 31% 69% 59% 41% / 28% 24% 76% 72%;
    }
    100% {
        border-radius: 58% 42% 38% 62% / 42% 55% 45% 58%;;
    }
}


@media only screen and (min-width: 1600px){
    .home-slider__item__img .shape {
        right: 6%;
    }
    .home-slider__item__img img {
        height: 85%;
    }
}

@media only screen and (min-width: 1900px){
    .home-slider__item__img .shape {
        width: 50rem;
        height: 50rem;
        right: 0%;
    }
    .home-slider__item__img img {
        right: -5%;
    }
    .home-slider__item__info {
        width: 48%;
    }
}

@media only screen and (min-width: 2500px){
    .home-slider__item__img .shape {
        right: 0;
        width: 55rem;
        height: 55rem;
    }
    .home-slider__item__img img {
        height: 80%;
        right: -10%;
    }
}

@media only screen and (min-width: 1024px) and (max-width: 1299px){
    .home-slider {
        height: 80vh;
        margin-top: 0;
        margin-bottom: 0;

        &__item {
            &__img {
                .shape {
                    top: 45%;
                }
                img {
                    height: 65%;
                    bottom: 200px;
                    right: -40px;
                }
            }

            &__info {
                width: 55%;
                &__title {
                    font-size: 4rem;
                }
            }
        }

        &__control {
            bottom: 7rem;
        }
    }
}

@media only screen and (min-width: 768px) and (max-width: 1023px){
    .home-slider {
        height: 70vh;
        margin-top: $header-tablet-height;
        margin-bottom: 0;

        &__item {
            top: 10%;
            align-items: unset;

            &__img {
                height: 100%;
                width: 45%;
                position: relative;

                img {
                    height: 75%;
                    position: absolute;
                    top: 0;
                }

                .shape {
                    width: 33rem;
                    height: 33rem;
                    right: 0;
                    top: 50%;
                    transform: translateY(-80%);
                }
            }

            &__info {
                padding-right: 3rem;
                margin-top: 10%;

                &__title {
                    font-size: 2.5rem;
                    margin-bottom: 4rem;
                }

                &__description {
                    font-size: 1.4rem;
                }
            }
        }

        &__control {
            bottom: 10rem;
        }
    }
}

@media only screen and (max-width: 767px) {
    .home-slider {
        margin-bottom: 0;
        
        &__item {
            flex-direction: column;

            &__img {
                height: 60%;

                img {
                    height: 100%;
                    position: relative;
                    bottom: 15%;
                }

                .shape {
                    width: 70%;
                    height: 35%;
                    right: 50%;
                    transform: translate(50%, -50%);
                    bottom: 10%;
                    top: unset;
                }
            }
            &__info {
                width: 100%;
                text-align: center;
                margin-top: calc(#{$header-mobile-height} + 1rem);

                &__title {
                    font-size: 2.2rem;
                    margin-bottom: 1rem;
                }

                &__description {
                    display: none;
                }
            }
        }

        &__control {
            bottom: 2rem;

            &__item {
                font-size: 1.7rem;

                .index {
                    font-size: 1.7rem;
                }
            }
        }

        &__btn {
            margin: 0 auto;
        }
    }
}
