@import './variables';

.policy {
    display: flex;
    justify-content: space-between;

    &-card {
        box-shadow: $box-shadow;
        width: calc(25% - 22.5px);
        display: flex;
        padding: 1.5rem 1rem 1rem 0;
        transition: transform 0.5s ease;

        &:hover {
            transform: translateY(-1rem)
        }
        &__icon {
            @include flex(center, center);
            width: 30%;
            font-size: 2.6rem;
            color: $main-color;
        }
        &__info {
            &__name {
                font-size: 1.5rem;
                padding-bottom: 1rem;
            }
            &__description {
                font-size: 1.3rem;
                line-height: 1.6;
            }
        }
    }
}