$main-bg: #fff;
$main-color: #0c2b68;

$txt-main-color: #000;
$txt-second-color: #8d8d8d;
$txt-white: #fff;

$btn-main-bg: $main-color;
$btn-main-color: #fff;

$header-height: 7rem;
$header-tablet-height: 7rem;
$header-mobile-height: 6rem;
$header-shrink-height: 6.5rem;

$box-shadow: rgba(149, 157, 165, 0.2) 0rem 0.8rem 2.4rem;