.not-found {
    background-color: #43c79b;
    color: #161d2a;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 599;
    overflow: hidden;

    &__info {
        text-align: center;
        display: block;
        position: relative;
        width: 80%;
        margin: 0 auto;
        top: 45%;
        transform: translateY(-50%);
    }

    &__title {
        font-size: 220px;
        position: relative;
        display: inline-block;
        z-index: 2;
        height: 250px;
        letter-spacing: 15px;
    }

    &__description {
        text-align: center;
        display: block;
        position: relative;
        font-size: 2.5rem;
        padding-bottom: 3rem;
    }

    &__back {
        @include flex(unset, center);
        font-size: 2rem;

        &__link {
            padding-left: 0.6rem;
            font-weight: 600;
        }
    }

    &__cloud {
        width: 350px;
        height: 120px;
        background: #fff;
        border-radius: 100px;
        position: absolute;
        margin: 120px auto 20px;
        z-index: 1;

        &::after,
        &::before {
            content: '';
            position: absolute;
            background: #fff;
            z-index: -1;
        }

        &::after {
            width: 100px;
            height: 100px;
            top: -50px;
            left: 50px;
            border-radius: 100px;
        }

        &::before {
            width: 180px;
            height: 180px;
            top: -90px;
            right: 50px;
            border-radius: 200px;
        }

        &--1 {
            top: -50px;
            left: 0;
            transform: scale(0.3);
            opacity: 1;
        }
        &--2 {
            top: -80px;
            right: 0;
            transform: scale(0.3);
        }
        &--3 {
            left: 15%;
            top: 30px;
            transform: scale(0.4);
            opacity: 0.8;
        }
        &--4 {
            right: 0;
            bottom: 0;
            transform: scale(0.6);
            opacity: 0.9;
        }
        &--5 {
            left: 10%;
            bottom: 10%;
            transform: scale(0.5);
            opacity: 0.9;
        }
    }
}

@media only screen and (min-width: 768px) and (max-width: 1299px) {
    .not-found {
        &__info {
            top: 40%;
            margin: 0 auto;
            transform: translateY(-50%);
        }
    }
}

@media only screen and (max-width: 767px) {
    .not-found {
        &__title {
            font-size: 12rem;
            height: unset;
        }
        &__info {
            width: 90%;
        }
        &__description {
            font-size: 1.9rem;
            line-height: 1.6;
        }

        &__cloud {
            &--1 {
                top: -10%;
                right: -60%;
            }
            &--2 {
                top: -15%;
                right: 20%;
            }
            &--3 {
                display: none;
            }
            &--5 {
                display: none;
            }
        }
    }
}
