.product {
    margin-bottom: 3rem;
    &__heading {
        font-size: 2.4rem;
        text-align: center;
        font-weight: 400;
        margin-bottom: 5rem;
    }

    &-card {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        &__item {
            position: relative;
            margin-bottom: 5rem;
            width: calc(25% - 5rem);
            padding-bottom: 5rem;
            transition: box-shadow 0.2s ease;
            border: 1px solid #0000001f;
            border-radius: 0 0 5px 5px;

            &:hover {
                box-shadow: 0rem 0.8rem 2.4rem rgba(149, 157, 165, 0.5);
            }

            &__image {
                padding-bottom: 1.8rem;

                img {
                    width: 100%;
                }
            }

            &__info {
                text-align: center;
                padding-bottom: 1rem;

                &__name {
                    font-size: 1.5rem;
                    padding-bottom: 1rem;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    padding: 0 1rem 1rem;
                }
                &__price {
                    padding-bottom: 2rem;
                    font-size: 1.4rem;
                    font-weight: bold;
                }
            }

            &__buy {
                position: absolute;
                bottom: 20px;
                left: 50%;
                transform: translateX(-50%);
            }
        }
    }
}

@media only screen and (min-width: 1024px) and (max-width: 1299px) {
    .product {
        margin-top: 2rem !important;

        &-card {
            &__item {
                width: calc(25% - 4rem);
                &__buy {
                    font-size: 1.4rem;
                    padding: 1rem;
                }
            }
        }
    }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .product {
        margin-top: 0 !important;

        &-card {
            justify-content: space-around;

            &__item {
                width: 300px;
            }
        }
    }
}

@media only screen and (max-width: 767px) {
    .product {
        margin-top: 0 !important;
        border-bottom: 2px solid $main-color;
        padding-bottom: 2rem;

        &__heading {
            font-size: 1.9rem;
            font-weight: 500;

            &--top {
                padding-top: 5rem;
            }
        }

        &-card {
            &__item {
                width: 48%;
                margin: 0 auto 3rem;

                &__info {
                    &__name,
                    &__price {
                        font-size: 1.6rem;
                    }
                }
            }
        }

        &--unset-border {
            border-bottom: unset;
        }
    }
}
