// common
@import './common/mixin';
@import './common/variables';
@import './common/base';
@import './common/button';

// components
@import './components/header/index.scss';
@import './components/back-to-top/index.scss';
@import './components/home-slider/index.scss';
@import './components/search/index.scss';
@import './components/toast-notification/index.scss';
@import './components/policy/index.scss';
@import './components/footer/index.scss';
@import './components/product/index.scss';
@import './components/banner/index.scss';

//pages
@import './pages/user/index.scss';
@import './pages/notfound/index.scss';
@import './pages/cart/index.scss';
@import './pages/login/index.scss';
@import './pages/category/index.scss';
